@import '@fontsource-variable/baloo-bhaina-2';
@import '@fontsource/fira-mono';
@import '@fontsource/monoton';

$color-theme: #7f142c;
$color-content-bg: rbga(255, 255, 255, 0.8);
$color-bg: #000;
$body-font: 'Baloo Bhaina 2 Variable';
$important-font: 'Fira Mono';
$title-font: 'Monoton';

$x-padding: 10px;
$y-padding: 10px;
$material-padding: 10px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-huge: 1280px;

.app {
	margin-left: auto;
	margin-right: auto;
	margin-top: $y-padding;
	width: calc(100% - #{2 * $x-padding});
	font-family: $body-font;
}

.material {
	width: calc(100% - #{2 * $material-padding}) !important;
	padding: $material-padding;
	margin-bottom: 10px;
	background-color: rgba(#fff, 0.8);

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $important-font;
	}
}

header .material {
	min-height: 50px;
}

.flex-spread {
	display: flex;
	justify-content: space-between;
}

.title {
	// font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;

	font-family: $title-font !important;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 13px;
	text-decoration-color: $color-theme;
	text-underline-offset: 5px;

	> a {
		text-decoration: inherit;
		text-decoration-style: inherit;
		text-decoration-color: inherit;
		text-underline-offset: inherit;
		color: unset;
	}
}

.titulo-pagina {
	font-family: $title-font !important;
}

nav ul li a {
	text-decoration: none;
	font-family: $important-font;
	color: black;
}

// non-mobile styles
@media screen and (min-width: #{$bp-mobile}) {
	.mobile-only {
		display: none;
	}

	nav {
		ul {
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 0px;

			li {

				display: inline-block;
				margin-right: 10px;
				font-family: $important-font;

				a {
					padding-bottom: 10px;
					display: block;

					border-bottom: 10px solid transparent;

					&:hover {
						border-bottom-color: $color-theme;
					}
				}

				&[aria-current=true] a {
					border-bottom-color: $color-theme;
				}
			}
		}
	}
}

@keyframes fall {
	0% {
		top: -15%;
	}

	100% {
		top: 115%;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#racetrack {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden !important;

	img {
		height: 15%;
		position: absolute;
		animation-name: fall;
		animation-duration: 20s;
	}
}

#layout-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

// mobile styles
@media screen and (max-width: #{$bp-mobile - 1}) {
	.title {
		font-size: 7vw;
	}

	.nav-icon {
		height: 35px;
		width: 35px;
	}

	nav {
		width: 100vw;
		position: fixed;
		left: 0;
		top: 0;
		background-color: #fff;

		box-shadow: 0px 0px 5px #000;

		.nav-icon {
			margin: 20px;
		}

		.title {
			padding: 20px;
		}

		&.hide {
			display: none;
		}

		&.reveal {
			animation-name: fadein;
			animation-duration: .5s;
		}

		ul {
			list-style-type: none;
			padding-left: 0px;

			li {
				display: block;
				width: 100%;
				padding: 20px;
				border-top: 1px solid black;
				width: 100%;

				a {
					text-decoration: none;
				}
			}
		}
	}
}

// :root {
// 	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
// 		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// 	--font-mono: 'Fira Mono', monospace;
// 	--color-bg-0: rgb(202, 216, 228);
// 	--color-bg-1: hsl(209, 36%, 86%);
// 	--color-bg-2: hsl(224, 44%, 95%);
// 	--color-theme-1: #ff3e00;
// 	--color-theme-2: #4075a6;
// 	--color-text: rgba(0, 0, 0, 0.7);
// 	--column-width: 42rem;
// 	--column-margin-top: 4rem;
// 	font-family: var(--font-body);
// 	color: var(--color-text);
// }

ul.lista-estrella {
	list-style-type: none;
	list-style-image: url('../lib/images/star.png');
}

// body {
// 	min-height: 100vh;
// 	margin: 0;
// 	background-attachment: fixed;
// 	background-color: $color-bg;
// 	background-size: 100vw 100vh;
// }

html,
body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $color-bg;
}

body {
	background-image: url('../lib/images/site-bg.jpeg');
	background-size: cover;
	background-position: center;
}

.center-box {
	display: flex;
	justify-content: center;
	align-items: center;

	.center-box-content {
		max-width: 100%;
	}
}

.cool-link {
	font-size: 1em;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 5px;
}
